.purchase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f2f5;
  width: 100%;
  box-sizing: border-box;
}

.purchase-header {
  background-color: #db105a;
  color: white;
  width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.purchase-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(100% - 40px); /* Uniform margin on left and right */
  max-width: 1200px; /* Maintain a max width */
  margin: 20px auto; /* Center content horizontally */
  box-sizing: border-box;
}

.books-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between; /* Ensure even spacing */
}

.book-item {
  display: flex;
  align-items: flex-start;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ensure the book items take full width of the container */
  margin: 10px 0; /* Remove side margins */
  box-sizing: border-box;
}

.book-image {
  max-width: 150px;
  margin-right: 20px;
  border-radius: 5px;
}

.book-details {
  flex: 1;
}

.book-details h2 {
  margin-top: 0;
  color: #db105a;
  text-align: center;
}

.book-details p {
  margin: 5px 0;
  color: #555555;
}